@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

.offset:before {
  display: block;
  content: "";
  height: 6rem;
}

.navbar {
  text-transform: uppercase;
  font-size: 14px;
  /* font-weight: The font-weight property sets how thick or thin characters in text should be displayed. */
  font-weight: 700;
  letter-spacing: 0.2rem;
  /* red green blue alpha 
  alpha The opacity property in CSS specifies how transparent an element is.
   ... Values are a number from 0 to 1 representing the opacity of the 
   channel (the “alpha” channel). When an element has a value of 0 the 
   element is completely invisible; a value of 1 is completely opaque (solid).
  */
  /* !important to tell bootstrap that this background is more important */
  background: rgba(0, 0, 0, 0.6) !important;
  /* 20px from top and bottom but 0 px from left and right */
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-left: 20px;
}

/* The :active selector is used to select and style the active link. */
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff9248;
  font-size: 110%;
}

/* Background */

.background {
  background-color: rgb(14, 14, 14);
}

.heading-content {
  position: absolute;
  top: 40%;
  width: 100%;
  max-width: 100%;
}

.heading-content h5 {
  font-size: 4em;
  font-weight: 300;
  color: white;
  font-family: monospace;
}

.heading-content h1 {
  font-size: 5em;
  font-weight: bolder;
  color: white;
  font-family: "Monteserrat", sans-serif;
}

.heading-content h2 {
  font-size: 2em;
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-family: "Monteserrat", sans-serif;
}

/* Background End */

/* About me */
/* Bootstrap follows 12 standard columns */
/**
References
https://www.w3schools.com/bootstrap/bootstrap_grid_examples.asp
    We have BootStrap Grid Classes
    - col-lg-6
    - col-md-12
    - col-12
**/
#about .btn {
  border: 2px solid #ff9248;
  /* inline block to fit content */
  display: inline-block;
  padding: 15px 15px;
  background: #ff9248;
  border-radius: 5px;
  margin-top: 10px;
}

#about .btn a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

#about .btn:hover {
  border: 2px solid red;
  cursor: pointer;
}
/* About me END*/

/* Contact */
.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f6c8a9;
}

.sec1 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 50px;
}

.sec1 p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 50px;
}

.sec1 .btn:hover {
  border: 2px solid red;
  cursor: pointer;
}
/* Contact End */

/* Media Query */
@media screen and (max-width: 767px) {
  /* tablet */
  .navbar {
    letter-spacing: 0.1rem;
    padding: 10px 0;
  }

  .heading-content {
    position: absolute;
    top: 15%;
  }

  .heading-content h5 {
    font-size: 3em;
  }

  .heading-content h1 {
    font-size: 3em;
  }

  .heading-content h2 {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 479px) {
  /* tablet */
  .navbar {
    letter-spacing: 0.05rem;
    padding: 7px 0;
  }

  .heading-content {
    position: absolute;
    top: 9%;
  }

  .heading-content h5 {
    font-size: 2em;
  }

  .heading-content h1 {
    font-size: 2em;
  }

  .heading-content h2 {
    font-size: 0.7em;
  }
}

.talk {
  border: 2px solid #48adff;
  /* inline block to fit content */
  display: inline-block;
  background: #48adff;
  border-radius: 5px;
  margin-top: 10px;
}
